/*TABLET*/

@media (max-width: 900px) {
    .banner {
        background-image: url(../image/Banner-Tablet.png);
        padding: 8rem;
    }
}

/*MOBILE*/

@media (max-width: 500px) {
    .banner {
        background-image: url(../image/Banner-Mobile.png);
        padding: 5rem;
    }

    .list-header {
        display: none;
    }
}