/*TABLET*/

@media (min-width: 501px) and (max-width: 900px) {
    .banner {
        background-image: url(../image/Banner-Tablet.png);
        padding: 8rem;
    }

    .sobre {
        gap: 2rem;
    }
}

/*MOBILE*/

@media (max-width: 500px) {
    .banner {
        background-image: url(../image/Banner-Mobile.png);
        padding: 5rem;
    }

    .list-header {
        display: none;
    }

    .card-serv {
        width: 300px;
    }

    .sobre {
        gap: 1.5rem;
        text-align: center;
    }

    .newsletter {
        grid-template-rows: repeat(3, auto);
    }

    footer {
        nav {
            flex-direction: column;
            text-align: center;
            gap: 1.5rem;

            .divisor {
                border-left: 0;
                height: 0;
                border-bottom: 3px solid #ffffff;
                width: 80vw;
            }
        }

        .redes-sociais {
            gap: 2rem;
        }
    }
}